:root {
    --font-family-main: 'Inter', 'Arina', sans-serif;
    --font-green: #013435;
    --font-brown: #3F240D;
    --font-white: #FFFFFF;
    --font-black: #000000;
    --font-gray: #273B3C;


    --title-xl: 72px;
    --title-l: 64px;
    --title-m: 54px;
    --title-s: 48px;


    --paragraph-xl: 24px;
    --paragraph-l: 20px;
    --paragraph-m: 18px;


    --main-text-xl: 18px;
    --main-text-l: 16px;
    --main-text-m: 14px;
    --main-text-s: 12px;
}