.header {
    background-image: url('../../assets/images/header/background.png');
    font-family: var(--font-family-main);
    padding: 0px 250px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1920px;
    height: 1763px;
}

.logo_wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 156px;
    will-change: transform;
}

.circles {
    width: 156px;
    object-fit: contain;
}

.logo {
    width: 154px;
    object-fit: contain;
}

.text_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.logo_text {
    font-weight: 400;
    font-size: var(--main-text-s);
    line-height: 15px;
    text-align: center;
    color: var(--font-white);
}

.title_wrapper {
    display: flex;
    flex-direction: column;
}

.title {
    font-family: 'Arina';
    font-style: normal;
    font-weight: 400;
    font-size: var(--title-xl);
    line-height: 72px;
    color: var(--font-white);
    max-width: 544px;
}

.subtitle {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 18px;
}

.subtitle_text {
    font-family: 'Arina';
    font-style: normal;
    font-weight: 400;
    font-size: var(--title-m);
    line-height: 65px;
    color: var(--font-white);
}

.pen {
    position: absolute;
    top: 6px;
    left: -20px;
}

.button {
    background: linear-gradient(175.97deg, rgba(252, 199, 153, 0.2) 3.29%, rgba(197, 140, 90, 0.2) 42.99%), #C58C5A;
    box-shadow: inset 0px -0.923077px 0px #E9AC76, inset 0px 0.923077px 0px #EAB88D, inset 0px -5.53846px 11.0769px #E0A979;
    border-radius: 12px;
    width: 290px;
    height: 63px;
    border: none;
    transition: all .2s linear;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 4px;
    margin-right: 20px;

    &:hover {
        opacity: 0.8;
        transform: scale(1.02);
    }
}

.backgroundBtn {
    position: relative;
    width: 229px;
    z-index: 2;
}

.backgroundBtn_img {
    position: absolute;
    top: -18px;
    left: 0;
    z-index: 1;
}

.zayavka_text {
    position: relative;
    z-index: 2;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: var(--main-text-l);
    line-height: 19px;
    color: var(--font-brown);
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.55);
}

.circleHouse {
    border: 2px solid var(--font-white);
    border-radius: 50%;
    width: 83px;
    height: 83px;
    overflow: hidden;
    background: #C3ADA3;
    padding-top: 12px;
    margin-right: 15px;
}

.contacts {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.podberem {
    max-width: 153px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: var(--main-text-m);
    line-height: 19px;
    color: var(--font-white);
}

.left_side_wrapper {
    display: flex;
    flex-direction: row;
    gap: 89px;
}

.main {
    margin-top: 58px;
}

.nav {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.right_side_wrapper {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.nav_item {
    width: 43px;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--font-green);
    border-radius: 2px;
    cursor: pointer;
    transition: all .2s linear;
    padding: 4px;

    &:hover {
        opacity: 0.8;
        transform: scale(1.10);
    }
}

.nav_item_border {
    border: 1px solid #034445;
    border-radius: 2px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info_wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-end;
}

.info_wrapper2 {
    gap: 14px;
}

.info_wrapper_item {
    max-width: 157px;
    position: relative;
}

.info_wrapper_item_second {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
}

.phone {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: var(--main-text-xl);
    line-height: 22px;
    text-align: right;
    color: var(--font-white);
}

.city {
    color: var(--font-white);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: var(--main-text-m);
    line-height: 21px;
    margin-left: 6px;
}

.address {
    color: var(--font-white);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: var(--main-text-m);
    line-height: 21px;
    text-align: right;
}

.address_absolute {
    position: absolute;
    top: 0;
    right: 0;
}

.email_wrapper {
    width: 120px;
    height: 28px;
    border-bottom: 1px solid var(--font-white);
}

.phone_button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 29px;
    border-radius: 2px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: var(--main-text-s);
    line-height: 15px;
    color: var(--font-white);
    border: 1px solid var(--font-white);
    background: inherit;
    cursor: pointer;
    transition: all .2s linear;

    &:hover {
        background: white;
        color: var(--font-black);
    }
}