.section {
    height: 470px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 9px;
    overflow: hidden;
}

.first {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.short {
    width: 110px;
    cursor: pointer;
}

.long {
    cursor: pointer;
}

.short_l {
    cursor: pointer;
}